.meetingDatetimeText{
    margin-top: 1px;
    margin-bottom: 1px;
}
.archive_container_events{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    padding: 1%;
    margin-bottom: 3px;
}
.download_link{
    color: black;
    font-weight: 700;
    margin-right: 2%;
}
.documentName_text{
    margin-left: 1%;
}