.main_container_votingPage{
    min-height: 100vh;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_votingPage{
    background: rgba(242, 242, 242, 0.7);
    border-radius: 20px;
    width: 70%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}
.form_scroll{
    height: 45vh;
    overflow-y: auto;
}
.btn_container_votingPage{
    display: flex;
    justify-content: center;
}
.btn_votingPage{
    background-color: rgb(105, 45, 45);
    border: none;
    border-radius: 10px;
    padding: 2%;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 1%;
}
.questions_container{
    margin: 1% 0 2% 0;
}
.questionItem_votingPage{
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.linksToDocs_votingPage a{
    color: rgb(20, 74, 173);
}