.eventElem{
    /* border: 2px solid black; */
    border-radius: 20px;
    padding: 2%;
    margin-bottom: 1%;
    font-size: 20px;
    cursor: pointer;
}
.inline_info{
    display: flex;
    justify-content: space-between;
}
.linkToPage{
    /* color: black; */
}