.main_container_faqPage{
    height: 100vh;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_faqPage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-top: 10%;
    margin-bottom: 5%;
}
.content_container_faqPage{
    background: rgba(242, 242, 242, 0.7);
    border-radius: 30px;
    height: 80vh;
    padding: 1%;
    overflow-y: scroll;
    max-width: 80%;
}
.item_faqPage{
    margin-top: 1%;
}
.answerLinks a{
    color: rgb(20, 74, 173);
}
.tip_container_faqPage{
    position: absolute;
    left: 1%;
    top: 15%;
    border-radius: 20px;
    background: rgba(242, 242, 242, 0.94);
    max-width: 10%;
    padding: 1%;
}