.main_container_mpcPage{
    min-height: 100vh;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_container_mpcPage{
    background: rgba(242, 242, 242, 0.7);
    border-radius: 20px;
    width: 40%;
    padding-left: 2%;
    max-height: 80vh;
    overflow-y: scroll;
}
.meetingContainer_mpcPage{
    margin-bottom: 1%;
    overflow-y: auto;
}
.meetingContainer_mpcPage img{
    width: 15px;
    padding-top: 3px;
    margin-left: 3px;
}
.inputRadio_mpcPage{
    margin-right: 2%;
}
.btn_mpcPage{
    background-color: rgb(105, 45, 45);
    border: none;
    border-radius: 10px;
    padding: 3%;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 1%;
}
.inputText_mpcPage{
    border: none;
    border-radius: 5px;
    height: 2em;
    width: 60%;
    margin-bottom: 1%;
    font-size: 14px;
}
.meetingDateAndPlace_link a{
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
}
.meetingDateAndPlace_select, .inputText_votingResultsPage{
    width: 90%;
}
.meetingDateAndPlace_btn_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerText_mpcPage{
    margin-top: 1%;
}
.errorText_mpcPage{
    color: red;
}
.uploadFile_btn input[type='file']{
    border: none;
    border-radius: 5px;
}
#file-upload-button{
    background-color: #ffffff;
}
.tooltip{
    max-width: 50%;
}

.leftTips_container{
    font-size: 14px;
    position: absolute;
    top: 15%;
    left: 2%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 20%;
    background: rgba(242, 242, 242, 0.9);
    border-radius: 20px;
    padding: 1% 1% 1% 2%;
    max-height: 70%;
    overflow-y: auto;
    font-size: 14px;
}
.headerText_leftTips_container, .headerText_rightTips_container{
    margin-bottom: 2px;
    text-align: center;
}
.leftTips_container a, .rightTips_container a{
    color: rgb(20, 74, 173);
}
.rightTips_container{
    font-size: 14px;
    position: absolute;
    top: 15%;
    right: 2%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 20%;
    background: rgba(242, 242, 242, 0.9);
    border-radius: 20px;
    padding: 1% 1% 1% 2%;
    overflow-y: auto;
    max-height: 70%;
}
.styled-scrollbars{
    scrollbar-color: #bf3131 #333;
}
.styled-scrollbars::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
@media (max-width: 1200px){
    .form_container_mpcPage{     
        background: rgba(242, 242, 242, 0.7);
        border-radius: 20px;
        width: 50%;
        padding-top: 0%;
        padding-bottom: 1%;
        padding-left: 4%;
        padding-right: 5%;
    }
}
@media (max-width: 800px) {
    .tooltip{
        max-width: 200px;
    }
}
@media (max-width: 500px){
    .form_container_mpcPage{     
        background: rgba(242, 242, 242, 0.7);
        border-radius: 20px;
        width: 70%;
        padding-top: 0%;
        padding-bottom: 1%;
        padding-left: 2%;
        padding-right: 2%;
    }
    .meetingContainer_mpcPage{
        font-size: 12px;
    }

}