.main_container_resultPage{
    min-height: 100vh;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_container_resultPage{
    background: rgba(242, 242, 242, 0.7);
    border-radius: 20px;
    width: 50%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
}
.inputText_resultPage{
    border: none;
    border-radius: 5px;
    padding: 2px;
    width: 40%;
}
.inputTextArea_resultPage{
    width: 60%;
    height: 5em;
    border: none;
    border-radius: 5px;
}
.resultPage_btn_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_resultPage{
    margin-top: 1%;
    background-color: rgb(105, 45, 45);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    padding: 2%;
}
.headerText_resultPage{
    margin-top: 1%;
    margin-bottom: 1%;
}